* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text {
    flex: 0 0 60vw;
    /* Фиксированная ширина для текстового блока */
    padding-left: 10px;
    /* Отступ от слайдера */
    margin-left: 0;
    /* Убрали ненужный отступ */
}

.main-container {
    display: flex;
    width: 100%;
    align-items: center;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

}

.container {
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    transition: filter .3s ease;
    background-color: burlywood;
}

.container.smooth-return .slide {
    transition: transform 0.4s linear, left 0.4s linear, opacity 0.4s linear;
}

.slide {
    position: absolute;
    object-fit: cover;
    margin: 0;
    transition: inherit;
    filter: brightness(.9);
}