* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
}

.card-carousel {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    transition: filter .3s ease;
}

.container.smooth-return .card {
    transition: transform 0.8s ease, left 0.8s ease, opacity 0.8s ease;
}

.card-carousel .card {
    position: absolute;
    object-fit: cover;
    margin: 0;
    transition: inherit;
    filter: brightness(.9);
}