* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    transition: filter .3s ease;
    background-color: burlywood;
}

.container.smooth-return .slide {
    transition: transform 0.4s linear, left 0.4s linear, opacity 0.4s linear;
}

.slide {
    position: absolute;
    object-fit: cover;
    margin: 0;
    transition: inherit;
    filter: brightness(.9);
}